.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 10px;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  background-color: rgb(0, 0, 0, 0.7);
}

header img {
  width: 10%;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-nav li {
  list-style-type: none;
}

.top-nav li a {
  color: white;
}

footer {
  background-color: rgb(0, 0, 0, 0.7);
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.todo {
  width: 353px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.todo-header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid dimgray;
}

.delete-btn {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: red;
  border: 1px solid transparent;
  color: white;
}

.todo-body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-btn {
  background-color: white;
  color: limegreen;
  border: 3px solid limegreen;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 18px;
  font-weight: 700;
}

.add-btn:hover {
  color: white;
  background-color: limegreen;
  border: 3px solid limegreen;
}

.addTodo-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0px;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding-bottom: 20px;
}

.form-control label {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.form-control input {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.form-control textarea {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #ccc;
  resize: none;
}

.addTodo-btn {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  width: 50%;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #76e976;
  cursor: pointer;
}